// $primary: rgb(134, 183, 247);
// $base-bg: #1448f1;

// @import "~@progress/kendo-theme-default/dist/all.scss";
// @import "~@progress/kendo-theme-default/scss/panelbar/_index.scss";
// @import "~@progress/kendo-theme-default/scss/grid/_index.scss";
// @import "~@progress/kendo-theme-default/scss/panelbar/";
// @import "~@progress/kendo-theme-default/scss/grid/";

// .k-custom-toolbar{
//   background: $base-bg;
//   color: #fff;
// }

// bootstrap:
// @import "~@progress/kendo-theme-bootstrap/dist/all.scss";
// @import "~bootstrap/scss/bootstrap.scss";